@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 2;
  background-color: #fafafa;
}
/*Globales*/
h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
  margin: 0 0 3rem 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.contenedor {
  max-width: 75rem;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: #82aa0a;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
}
.btn:hover {
  background-color: #769c02;
}
/*Utilidades*/
.text-center {
  text-align: center;
}

.max-width-30 {
  max-width: 18rem;
}

/*Headear y Navgacion*/

.nombre-sitio {
  margin-top: 3rem;
  text-align: center;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}

.nav-principal {
  padding: 1.25rem 0px;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../Images/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  background-position: center center;
}

/*Listado categorias*/
.categorias {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.categoria a {
  text-align: center;
  display: block;
  padding: 1.25rem;
  font-size: 1.25rem;
}
.categoria a:hover {
  background-color: #037bc0;
  transition: ease 1s;
  color: #ffffff;
  border-bottom-right-radius: 1.25rem;
}
.listado-categoria {
  display: flex;
  justify-content: space-between;
}
/*Bloque nosotros*/
.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../Images/nosotros.jpg);
  background-position: left center;
  padding: 6rem 4 0;
  background-repeat: no-repeat;
  background-size: 100%, 75rem;
}
.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}
.texto-nosotros {
  flex-basis: 50%;
  padding-left: 6rem;
  color: #ffffff;
}

/*Listado Producto*/
.contenido-principal {
  font-family: "Playfair Display", sans-serif;
  padding-top: 3rem;
  width: 100%;
}
.productos,
.productos-2,
.productos-3 {
  background-color: #037bc0;
}
.contenedor-productos {
  display: flex;
  width: 100%;
  margin: 1rem 1rem;
  justify-content: space-between;
  gap: 1rem;
}
.contenedor-productos1 {
  display: flex;
  width: 100%;
  margin: 1rem 1rem;
  justify-content: space-between;
  gap: 1rem;
}
.listado-productos {
  width: 100%;
}
.productos {
  margin: 1rem;
  width: 100%;
}
.productos img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.productos-2 {
  width: 50%;
}
.productos-2 img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.productos-3 {
  width: 33%;
}

.productos-3 img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.texto-productos {
  text-align: center;
  color: #e1e1e1;
  padding: 2rem;
}
.texto-productos h3 {
  margin: 0;
}
.texto-productos p {
  margin: 0 0 0.25rem 0;
}
.texto-productos .precio {
  font-size: 2rem;
  font-weight: 900;
}

/*Footer*/
.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 2rem;
  padding-top: 2rem;
}
.site-footer h3 {
  margin-bottom: 1rem;
}
.grid-footer {
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
}
.footer-menu a {
  display: block;
}
.copyright {
  margin-top: 3rem;
  text-align: center;
}

/* footer redes */
.redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hiper {
  text-decoration: none;
}

.redes-footer .icon-redes-footer {
  font-size: 20px;
  margin: 20px;
  background-color: #037bc0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: rgba(202, 196, 196, 0.76);
}

.bi-facebook:hover {
  background-color: rgb(40, 40, 224);
  color: white;
}

.bi-instagram:hover {
  background: linear-gradient(
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  color: white;
}

.bi-youtube:hover {
  background-color: red;
  color: white;
}

.bi-whatsapp:hover {
  background-color: green;
  color: white;
}

/* Nosotros*/

.contenido-nosotros {
  display: flex;
  background-color: #037bc0;
  font-size: 1rem;
  color: #ffffff;
  gap: 2rem;
  width: 100%;
}

.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Presentacion Personal */

.contenedorPresentacion {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.card {
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px;
  margin: 4rem 0;
}

.card img {
  width: 40%;
  border-radius: 50%;
  border: 4px solid white;
}

.cardImg {
  background-image: url(../Images/fondo\ card.jpg);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card:hover {
  transform: scale(1.03);
  transition: ease-in 1s;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: #037bc0;
  color: white;
}

.cardPersonal {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding: 3vh 5vw;
  margin: 4rem 0;
  border-radius: 4px;
  background-color: #8fccf0;
  gap: 35px;
}

.cardPersonal .cardSVG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 3px 3px #037bc0;
}

/* Galeria*/
.galeria {
  list-style: none;
  padding: 0 auto;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.galeria img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

/*Formulario*/

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  margin: 0 auto;
}

.formulario .campo {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
}
.formulario fieldset {
  border: 1px solid #000;
  margin-bottom: 2rem;
}
.formulario legend {
  background-color: #005485;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 4rem;
}

/* Section Categorias */

.consultas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 3vh;
  width: 40%;
}

.cons {
  text-align: center;
}

.contenedorConsultas {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-consultas {
  margin: 5px;
  width: 400px;
  background-color: #005485;
  text-align: center;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}
.btnForm {
  width: 100%;
  padding: 1rem;
  border: 2px solid #e1e1e1;
  background-color: #005485;
  font-size: 16px;
  color: #e1e1e1;
}
